img{

    border: 5px solid white;
    width: 100%;
}

h1{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

body{
    background-color: black;
}

.meme1{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

.meme2{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}
.meme3{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

.meme4{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

.meme5{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

.meme6{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

.meme7{
    color: white;
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}